/*=====================================
=            Site - Layout            =
=====================================*/

$site-maxWidth: $xlarge;

.wrapper {
  max-width: $site-maxWidth;
  margin: 0 auto;
}

.mainContent {

}

.mainContent__main {

}

.mainContent__sidebar {

}
